main {
  margin-bottom: 20px;
}

table {
  height: fit-content;
  margin: 0 auto;
  width: 80%;
  max-width: 1050px;
}

.ativo {
  color: rgb(238, 234, 32);
}

#add {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.QUITADO {
  background-color: rgb(12, 138, 12);
  color: white;

}

.LANCADO {
  background-color: #FFC107;
  color: white;
}

.status {
  display: inline-block;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5%;
  letter-spacing: 1px;
  width: 86px;
  text-align: center;
}