<app-navbar [titulo]="'Clientes'">
    <main>
        <button mat-mini-fab (click)="abrirFormClientes()" id="add">
            <mat-icon>person_add</mat-icon>
        </button>
        <div>
            <router-outlet></router-outlet>
        </div>
        <table mat-table [dataSource]="clientes" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let c">{{c.idCliente}}</td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let c">
                    <a [routerLink]="'/clientes/' + c.idCliente" routerLinkActive="ativo">
                        {{ c.nome }}
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef>email</th>
                <td mat-cell *matCellDef="let c">{{c.email}}</td>
            </ng-container>

            <ng-container matColumnDef="endereco">
                <th mat-header-cell *matHeaderCellDef>Endereco</th>
                <td mat-cell *matCellDef="let c">
                    <div *ngIf="c.enderecoCliente != undefined, else btnEndereco"> {{c.enderecoCliente.rua}},
                        {{c.enderecoCliente.bairro}}, {{c.enderecoCliente.cidade}} - {{c.enderecoCliente.uf}}
                        <button mat-icon-button (click)="editEndereco(c.enderecoCliente)">
                            <mat-icon>edit_note</mat-icon>
                        </button>
                    </div>

                    <ng-template #btnEndereco>
                        <button mat-icon-button (click)="addEndereco(c.idCliente)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </ng-template>

                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Excluir</th>
                <td mat-cell *matCellDef="let c">
                    <button mat-icon-button color="warn" (click)="deletarCliente(c)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="colunas"></tr>
            <tr mat-row *matRowDef="let row, columns: colunas"></tr>

        </table>
    </main>
</app-navbar>