<app-navbar></app-navbar>
<div class="container">
    <aside id="lateral">
      <h2 id="funcLat">Cargos</h2>
    </aside>
    <main>
      <button mat-mini-fab color="accent" id="add" (click)="abrirFormCargo()"><mat-icon>add</mat-icon></button>
      <div class="filterDiv">
        <mat-form-field appearance="standard" id="filterForm">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Teste" #input>
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-evaluetion-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let c"> {{ c.idCargo }} </td>
        </ng-container>
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let c"> 
            {{ c.nome }}  
          </td>
        </ng-container>
        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let c"> {{ c.descricao }} </td>
        </ng-container>
        <ng-container matColumnDef="salario">
          <th mat-header-cell *matHeaderCellDef>Salário</th>
          <td mat-cell *matCellDef="let c"> {{ c.salario | currency: "BRL" }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let c">
            <button mat-icon-button (click)="dialogEdit(c)">
              <mat-icon>edit</mat-icon>
            </button><br>
            <button color="warn" mat-icon-button (click)="deletarCargo(c.idCargo)"> <!-- click delete aqui -->
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            O Dado <strong> {{ input.value }} </strong> não foi encontrado!
          </td>
        </tr>
      </table>
    </main>
  </div>