mat-card, .loader {
    height: calc(100vh - 150px);
    position: sticky;
    top: 16px;
    left: 0;
}
 .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    
}

#salvar {
    margin-top: 16px;
}

#menu {
    margin-left: auto;
}

#inputSalario::-webkit-outer-spin-button,
#inputSalario::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}