form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
}

div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


#salvar {
    margin-top: 16px;
}

#menu {
    margin-left: auto;
}

#inputSalario::-webkit-outer-spin-button,
#inputSalario::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}