<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1> Services </h1>
    <span class="separador"></span>
    <button mat-button matTooltip="Funcionários" [matMenuTriggerFor]="menuFuncionarios">Funcionários</button>
    <mat-menu #menuFuncionarios="matMenu">
      <button
        mat-menu-item
        routerLink="/funcionarios"
      >Listar</button>
      <button mat-menu-item
         routerLink="/cargos"
      >Cargos</button>
      <button mat-menu-item routerLink="/clientes">
        Clientes
      </button>
    </mat-menu>

    <button mat-icon-button matTooltip="Logout" (click)="authService.signOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
