main {
  margin-bottom: 20px;
}

table {
  height: fit-content;
  margin: 0 auto;
  width: 80%;
  max-width: 1050px;
}


#add {
  position: fixed;
  right: 16px;
  bottom: 16px;
  background-color: rgba(0, 0, 0, 0.9);
}