.container{
  display: grid;
  background-color: rgb(201, 195, 195);
  color: white;
  height: 100%;
  gap: 6px;
  grid-template-columns: 100px 1fr 3fr;
}

/* Toolbar */

.containerToolbar{
  display: grid;
  grid-template-columns: 40% 20% 40%;
  background-color: #3f52b5;
  box-sizing: border-box;
}

#servicesToolbar {
  background-color: #3f52b5;
  font-size: 12px;
  color: white;
}

aside h1{
  position: relative;
  top: 1px;
  margin-left: 10px;
}

#caixaPesquisa{
  background-color: brown;
  color: white;
}

#buttons{
  text-align: end;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.filter{
  width: 300px;
}

/* Tabela de cargos */

.search{
  color: white;
  width: 100px;
}

mat-toolbar-row {
  display: flex;
  align-items: center;
}

table {
  width: 99%;
  margin-bottom: 10px;
  height: fit-content;
}

.centralizar{
  text-align: center;
}

/* Lateral */

#header {
  background-color: #3f52b5;
  height: 100%;
}

/* Formulário de cadastro */

.mat-form-field {
  font-size: 14px;
  width: 100%;
}