div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: fit-content;
}

#salvar {
  margin-top: 8px;
}

#inputValor::-webkit-outer-spin-button,
#inputValor::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div {
  display: flex;
  justify-content: space-between;
}