<div>
  <h2>Novo Pagamento</h2>
  <button (click)="close()" type="button" mat-icon-button>
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
<section mat-dialog-content>
  <form action="" [formGroup]="formPagamento" (ngSubmit)="salvar()">

    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input id="inputValor" type="number" matInput formControlName="valor">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Forma de pagamento</mat-label>
      <input type="text" matInput formControlName="formPagamento">
    </mat-form-field>

    <button type="submit" [disabled]="formPagamento.invalid" mat-raised-button color="accent"
      id="salvar">Salvar</button>
  </form>
</section>