.container {
  width: 400px;
  height: 800px;
}

form {
  display: flex;
  flex-direction: column;
}

#salvar {
  margin-top: 16px;
}

#inputValor::-webkit-outer-spin-button,
#inputValor::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div {
  display: flex;
  justify-content: space-between;
}