<div>
  <h2 mat-dialog-title>Novo Endereço</h2>
  <mat-spinner color="accent" mode="indeterminate" diameter="20" *ngIf="salvandoEndereco"></mat-spinner>
</div>
<section mat-dialog-content>
  <form action="" [formGroup]="formEndereco" (ngSubmit)="salvar()">

    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input type="text" matInput formControlName="rua">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input type="text" matInput formControlName="bairro">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input type="text" matInput formControlName="cidade">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>UF</mat-label>
      <input type="text" matInput formControlName="uf">
    </mat-form-field>

    <button type="submit" [disabled]="formEndereco.invalid" mat-raised-button color="accent" id="salvar">Salvar</button>
  </form>
</section>