<app-navbar></app-navbar>

<div class="container">
  <aside id="lateral">
    <h2>Funcionários</h2>
  </aside>

  <main>

    <button mat-mini-fab color="accent" (click)="abrirFormFuncionario()" id="add">
      <mat-icon>add</mat-icon>
    </button>

    <div>
      <router-outlet></router-outlet>
    </div>

    <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let f">{{ f.idFuncionario }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let f">
          <a [routerLink]="'/funcionarios/' + f.idFuncionario" routerLinkActive="ativo">
            {{ f.nome }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-mail</th>
        <td mat-cell *matCellDef="let f">{{ f.email }}</td>
      </ng-container>
      
      <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef>Cargo</th>
        <td mat-cell *matCellDef="let f">{{ f.cargo.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Excluir</th>
        <td mat-cell *matCellDef="let f">
          <button mat-icon-button color="warn" (click)="deletarFuncionario(f)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas"></tr>

    </table>
  </main>
</div>
