<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Services</h1>
    <span class="separador"></span>
    <button mat-button [matMenuTriggerFor]="menu">Listar</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/funcionarios">Funcionarios</a>
      <a mat-menu-item routerLink="/cargos">Cargos</a>
      <a mat-menu-item routerLink="/clientes">Clientes</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuConfiguracoes">{{emailUsuario}}</button>
    <mat-menu #menuConfiguracoes="matMenu">
      <button mat-menu-item (click)="logout()" matTooltip="Deslogar">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
