.toolbar {
  display: flex;
  margin-right: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  padding-bottom: 50px;
}


.title {
  text-align: center;
  margin-bottom: 10px;
}

.title h1 {
  letter-spacing: 0.1rem;
  font-size: 2.4rem
}

.profile-img-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}

.sidenav {
  width: 250px;
  background-color: rgb(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  color: white;
  padding: 5px 15px;
}

mat-nav-list a.teste {
  color: white;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
  height: 100%
}

/* TOPO-LOGO */
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}


.logo h2 {
  letter-spacing: 0.1rem;
  color: #0F637A
}

.logo h2 span {
  color: #FED700;
}

/* nav-bar*/
nav {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 2rem;
}

nav a {
  display: flex;
  color: white;
  gap: 1rem;
  align-items: center;
  margin-left: 2rem;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

nav div {
  position: absolute;
  bottom: 1rem;
  display: flex;
  color: white;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

nav div p {
  margin-left: 2rem;
}

nav a h3 {
  font-weight: 500;
}

nav a mat-icon {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

nav a:hover {
  color: rgb(4, 102, 126);
}

nav a:hover mat-icon {
  margin-left: 1rem;
}

nav a.active {
  color: rgb(4, 102, 126);
  margin-left: 0;
}

nav a.active mat-icon {
  color: rgb(4, 102, 126);
  margin-left: calc(1rem-3px)
}

nav a.active:before {
  content: "";
  width: 6px;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.788);
}

@media(max-width: 1200px) {
  .top {
    justify-content: space-between;
  }
}