<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Services</h1>
    <span class="separador"></span>
    
    <button matTooltip="Menu Funcionário" mat-button [matMenuTriggerFor]="menuFuncionarios">Funcionários</button>
    <mat-menu #menuFuncionarios="matMenu">
      <a
      mat-menu-item
      routerLink="/funcionarios"
      >Listar</a>
    </mat-menu>
    
    <button matTooltip="Menu Cargos" mat-button [matMenuTriggerFor]="menuCargos">Cargos</button>
    <mat-menu #menuCargos="matMenu">
      <a
        mat-menu-item
        routerLink="/cargos"
      >Listar</a>
    </mat-menu>
    <button matTooltip="Menu do usuario" mat-button matTooltip="Menu usuario" [matMenuTriggerFor]="menuUsuario">{{emailUser}}</button>
    <mat-menu #menuUsuario="matMenu">
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
            </div>
          </div>
        </div>
      </div>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>Sair?
         </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
